name: CI-CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/sample-app:${{ github.run_number }} .

      - name: Tag latest
        run: docker tag ${{ secrets.DOCKERHUB_USERNAME }}/sample-app:${{ github.run_number }} ${{ secrets.DOCKERHUB_USERNAME }}/sample-app:latest

      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/sample-app:${{ github.run_number }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/sample-app:latest
